{% extends "base.html" %}

{% block content %}

<div class="onboarding-wrapper">

    <div class="form-container">

        <h1>Supprimer l'expérience</h1>

        <p>Es-tu sûr de vouloir supprimer cette expérience ?</p>

        <div class="manager-card">

            <h3>{{ experience.poste }}</h3>
            <p>{{ experience.entreprise }}</p>

        </div>

        <form method="POST">
            {% csrf_token %}

            <div class="wizard-actions">

                <button type="submit" class="btn-primary" style="background:red;">
                    Supprimer
                </button>

                <a href="{% url 'experience_list' %}" class="btn-secondary">
                    Annuler
                </a>

            </div>

        </form>

    </div>

</div>

{% endblock %}