{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}CvApp{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% block extra_head %}{% endblock %}

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- Dans le <head> de base.html -->
<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

</head>

<body>
  <!-- Ces éléments restent fixes en fond sur toutes les pages -->
  <div class="grid-bg"></div>
  <div class="top-gradient"></div>

  <nav class="nav-header">
    <a href="{% url 'home' %}" class="logo-link">
      {% include 'logo.html' %}
    </a>
    <div class="button">
      <a href="{% url 'register' %}"><button type="button" id="connexion">Connexion</button></a>
      <button id="inscrire">S'inscrire</button>
    </div>
  </nav>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    {% include 'logo.html' %}
    <p>© 2026 CvApp - Tous droits réservés</p>
  </footer>
</body>
</html>